<div class="bg_pattern Boxes"></div>
<h1>栄養価情報</h1>

<h2>本日の栄養価情報</h2>
<div class="nutrition-info">
  <p>カロリー: <%= @today_log.calories.to_f %> kcal</p>
  <p>タンパク質: <%= @today_log.protein.to_f %> g</p>
  <p>脂質: <%= @today_log.fat.to_f %> g</p>
  <p>炭水化物: <%= @today_log.carbs.to_f %> g</p>
  <p>食物繊維: <%= @today_log.fiber.to_f %> g</p>
</div>

<h2>昨日の栄養価情報</h2>
<% if @yesterday_log %>
  <div class="nutrition-info">
    <p>カロリー: <%= @yesterday_log.calories %> kcal</p>
    <p>タンパク質: <%= @yesterday_log.protein %> g</p>
    <p>脂質: <%= @yesterday_log.fat %> g</p>
    <p>炭水化物: <%= @yesterday_log.carbs %> g</p>
    <p>食物繊維: <%= @yesterday_log.fiber %> g</p>
  </div>
<% else %>
  <p>昨日の栄養価情報はありません。</p>
<% end %>