<div class="bg_pattern Boxes"></div>
<div class="result-recipe-container">
  <% if @recipe_record && @recipe_record.name.present? %>
    <div class="result-recipe-header">
      <h2 class="result-recipe-title"><%= @recipe_record.name %></h2>
      <% if current_user %>
        <%= button_to favorites_path(recipe_id: @recipe_record.id), method: :post, remote: true, class: 'favorite-button', data: { recipe_id: @recipe_record.id } do %>
          <i class="fas fa-star <%= current_user.favorites.exists?(recipe_id: @recipe_record.id) ? 'favorite-active' : '' %>"></i>
        <% end %>
      <% end %>
    </div>
    <div class="result-recipe-box">
      <div class="result-recipe-content">
        <div class="result-recipe-section result-ingredients-nutrition">
          <% if @recipe_record.ingredients.present? %>
            <div class="result-ingredients">
              <h3>材料（1人前）:</h3>
              <ul>
                <% @recipe_record.ingredients.split("\n").each do |ingredient| %>
                  <li><%= ingredient.strip %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="result-nutrition">
            <h3>栄養価情報（1人前）:</h3>
            <ul>
              <li>カロリー: <%= @recipe_record.calories %> kcal</li>
              <li>タンパク質: <%= @recipe_record.protein %> g</li>
              <li>炭水化物: <%= @recipe_record.carbs %> g</li>
              <li>脂質: <%= @recipe_record.fat %> g</li>
              <li>食物繊維: <%= @recipe_record.fiber %> g</li>
            </ul>
          </div>
        </div>

        <% if @recipe_record.instructions.present? %>
          <div class="result-recipe-section result-instructions">
            <h3>調理手順:</h3>
            <ol>
              <% @recipe_record.instructions.split(/\d+\./).reject(&:empty?).each do |step| %>
                <li><%= step.strip %></li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="result-error-message">レシピの生成に失敗しました。もう一度お試しください。</p>
  <% end %>
  <div class="recipe-form-actions">
  <%= link_to new_nutrition_log_path(recipe_id: @recipe.id), class: 'recipe-btn-svg' do %>
    <svg>
      <rect x="2" y="2" rx="0" fill="none" width="200" height="50"></rect>
    </svg>
    <span>調理完了</span>
  <% end %>
</div>
