<!DOCTYPE html>
<html>
  <head>
    <title>RecipiAiAssistant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Hina+Mincho&family=Noto+Serif+JP:wght@200..900&family=Orbitron:wght@400..900&family=Shippori+Mincho+B1&family=Tsukimi+Rounded&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <script>
      document.addEventListener('turbolinks:load', () => {
        if (performance.navigation.type == 2) {
          location.reload(true);
        }
      });
    </script>
  </head>
  
  <body data-turbolinks-cache="false">
    <nav class="navbar navbar-expand-lg custom-navbar">
      <div class="container-fluid">
        <%= link_to 'RecipeAI', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to 'お気に入り', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to '作った', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to '設定', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to '新規登録', signup_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログイン', login_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= render 'layouts/notice' %>
    <%= yield %>
  </body>
</html>

